[Desktop Entry]
Name=Euler
Comment=Numerical computations program
Comment[pl]=Program do obliczeń numerycznych
Icon=euler.png
Exec=euler
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Education;Science;Math;
# vi: encoding=utf-8
