[Desktop Entry]
Name=Euler
Comment=Numerical computations program
Comment[pl]=Program do obliczeń numerycznych
Icon=euler
Exec=euler
Terminal=false
Type=Application
Categories=GTK;Education;Science;Math;
# vi: encoding=utf-8
